head {

}

.header {
  margin:0 auto;
}

.about {
  text-align: center;
}
.about h1{
  font-size: 27px;
}
.about li{
  font-size: 18px;
  list-style: none;
}


.product {
position: relative;
top: 0px;
left: 0px;
}
.product-wrapper {
  text-align: center;
}
