head {
  text-align: center;
  background-image:  url("イメージ/ic_products5.jpg"):
  background-size: cover;
}

body {
  text-align: center;
}

.about {
  text-align: center;
}
.about h1{
  font-size: 27px;
}
.about li{
  font-size: 18px;
  list-style: none;
}
