@media screen and (-webkit-min-device-pixel-ratio: 0) {

html {
  font-family: "kyokasho_l";
  font-weight: normal;
  margin: 0;
}

head {}



input {
  padding:5px 45px;
  border-radius: 5px;
  box-shadow: 0px 2px #000000 ;
}
input:active {
  position: relative;
  top: 2px;
  box-shadow: none;
}

header {
  width:100%;
  position: fixed;
  top: 0px;
  z-index:10;
  background-color:rgba(255, 255, 255,0.9);
}
.header-scr {
  text-align: center;
}
.header-block {
  display: inline-block;
}
.header-list {
  display: inline-block;
  margin:20px;
}
.header-list a{
  color:rgba(0,0,0,1);
}
.header-list a:hover{
  color:rgba(0,0,0,0.5);
}

main {
  text-align: center;
  width:100%;
  height:600px;
  background-image: url(https://raw.githubusercontent.com/genkimita/mosya_matukazeya/master/イメージ/main.jpg);
  background-size: cover;
}
.main-img {
  padding-top:200px;
  padding-bottom:200px;
}


.about {
  text-align: center;
  margin-bottom:100px;
}
.about h1{
  font-size: 27px;
  font-weight: 500;
  line-height: 27px;
  padding-top:100px;
}
.about li{
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
  list-style: none;
}
.about p{
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.about-btn {
  transition: all 1s;
  background-color:rgba(0,0,0,0);
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}
.about-btn input:hover {
  background-color:#000000;
  color:#ffffff;
}


.product {
  background-image: url(https://raw.githubusercontent.com/genkimita/mosya_matukazeya/master/イメージ/bg_donuts.jpg);
  background-size: cover;
  width:100%;
  height:530px;
}
.product-box {
  position: relative;
  left: 780px;
}
.product-box-one {
  display: inline-block;
  width:510px;
  padding-top:110px;
  padding-bottom:110px;
}
.product-wrapper {
}
.product-wrapper h1{
  font-weight: 400;
  font-size: 19px;
  line-height: 19px;
  text-align: center;
}
.product-wrapper h2{
  font-size: 21px;
  line-height: 21px;
  font-weight: 500;
  text-align: center;
}
.product-wrapper h2 span{
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
}
.product-wrapper p{
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: left;
}
.product-btn {
  background-color:#00000000;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}

introduction {
  width:100%;
  height:650px;
}
.introduction {
  background: url(https://raw.githubusercontent.com/genkimita/mosya_matukazeya/master/イメージ/bg_beige.png);
  background-repeat: repeat;
}
.introduction-box {
  text-align: center;
}
.introduction img{
}
.introduction-wrapper {
  text-align: center;
}
.introduction-wrapper h1{
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  padding-top:80px;
}
.introduction-wrapper h2{
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.introduction-wrapper {
  font-size: 16px;
}
.introduction-btn {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  padding-bottom:100px;
}

notice {
  text-align: center;
}
.notice-wrapper {
  padding-top:100px;
}
.notice-wrapper h1{
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  border-bottom:1px solid rgb(236, 233, 217) ;
}
.notice-btn {
  font-weight: 589.5;
  font-size: 16px;
  line-height: 16px;
  margin-bottom:100px;
}

order {}
.order {
  text-align: center;
  background: url(https://raw.githubusercontent.com/genkimita/mosya_matukazeya/master/イメージ/bg_beige.png);
  background-repeat: repeat;
}
.order-wrapper h1{
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  padding-top:80px;
}
.order-wrapper h2{
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}
.order-wrapper h3{
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
}
.order-btn input{
  font-weight: 695;
  font-size: 16px;
  line-height: 16px;
  margin-bottom:100px;
}

access {}
  .access-wrapper {
    text-align: center;
    margin-bottom:100px;
  }
.access-info {
  padding-bottom:40px;
}
.access-info h1{
  font-weight: 500;
  font-size: 27px;
  line-height: 27px;
}
.access-method {
  text-align: center;
}
.access-address {
  display: inline-block;
  padding-left:55px;
  padding-right:55px;
}
.access-box li{
list-style: none;
text-align: left;
}
.access-list a{
  font-weight: 700;
  font-size: 19px;
  line-height: 19px;
  padding-bottom:5px;
}
.access-list {
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  padding-bottom:25px;
}
.access-list span{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.tel-number {

}
.access-address iframe{
  width:480px;
  height:260px;
}
.access-btn {
  font-weight: 689.75;
  font-size: 16px;
  line-height: 16px;
}


footer {
text-align: center;
  background-color:rgb(0, 0, 0);
  color:#ffffff;
}
.footer-block {
  display: inline-block;
width:50%;
}
.footer-logo{
padding-top:10px;
padding-bottom:10px;
}
.footer {}
.footer-content {
margin:0 auto;
}
.footer-boxgate {
  padding-top:15px;
  float:left;
  display: flex;
  text-align: left;
}
.footer-boxgate li{
  list-style: none;
}
.footer-box-one {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
}

footer-access {
}
.footer-access {
  background-color:rgb(0, 0, 0);
  color:#ffffff;
text-align: center;
}
.footer-address {
  display: inline-block;
  text-align: center;
width:50%;
}
.footer-address-box {
padding-left:250px;
}
.footer-address-one {
  font-weight: 600;
  font-size: 19px;
  line-height: 19px;
  list-style: none;
}
.footer-address-two {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.footer-address-box li{
   text-align: left;
   list-style: none;
}
.footer-address-img {

}

copyright {}
.copyright {
  padding-top:30px;
  padding-bottom:30px;
  background-color:#ffffff;
  color:#000000;
  text-align: center;
}
.copyright h1{
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}


}
